<!-- Custom checkbox -->
<h2>Check box fields <fa-icon class="clickable" [icon]="faAdd" (click)="addCheckBox()" [styles]="{'stroke': 'green', 'color': 'green'}"></fa-icon></h2>
<div *ngFor="let checkBox of checkBoxList; let i= index" style="width: 100%">
  <hr>
  <h4 class="expandedContainer">
    <span>Name</span>
    <fa-icon class="clickable" style="align-self: flex-start" [icon]="faRemove" (click)="removeCheckBox(i)" [styles]="{'stroke': 'red', 'color': 'red'}"></fa-icon>
  </h4>
  <input type="text" [(ngModel)]="checkBox.name">
  <h4>Default checked <input type="radio" [checked]="checkBox.checked" (click)="toggleCheckbox(checkBox)"></h4>
  <h4>Description</h4>
  <input type="text" [(ngModel)]="checkBox.title">
</div>
