<p class="spaced-container">
  <span>
    <span>
      id
    </span>
    <br>
    <input *ngIf="!checkbox.immutable"
           class="mid-input"
           autocomplete="off"
           type="text"
           [(ngModel)]="checkbox.id"
           matTooltip="This is the unique identifier of this cell. Make sure it's different from all others but use only letters and underscores ('_') to define it."
           [matTooltipShowDelay]="SHOW_DELAY"
           [matTooltipPosition]="POSITION"
           (change)="onIdChange()">
    <span *ngIf="checkbox.immutable"
          matTooltip="This is the unique identifier of this cell. Make sure it's different from all others but use only letters and underscores ('_') to define it.
This value must remain unchanged."
          [matTooltipShowDelay]="SHOW_DELAY"
          [matTooltipPosition]="POSITION">
      {{ checkbox.id }}
    </span>
  </span>
  <span>
    <span>
      Email identifier
    </span>
    <br>
    <input *ngIf="!checkbox.immutable"
           class="mid-input"
           autocomplete="off"
           type="text"
           [(ngModel)]="checkbox.name"
           matTooltip="When a new player registers you will receive their answer to this checkbox under this identifier."
           [matTooltipShowDelay]="SHOW_DELAY"
           [matTooltipPosition]="POSITION"
           (change)="onNameChange()">
    <span *ngIf="checkbox.immutable"
          matTooltip="When a new player registers you will receive their answer to this checkbox under this identifier.
This value must remain unchanged."
          [matTooltipShowDelay]="SHOW_DELAY"
          [matTooltipPosition]="POSITION">
      {{ checkbox.name }}
    </span>
  </span>
  <span matTooltip="This will be the default value of the checkbox in the generated form."
        [matTooltipShowDelay]="SHOW_DELAY"
        [matTooltipPosition]="POSITION">
    <span>
      Checked
    </span>
    <br>
    <input type="checkbox" [(ngModel)]="checkbox.checked">
  </span>
</p>
