<br>
<span class="spacedContainer">
  <igx-input-group  class="w33">
    <input igxInput name="tournamentName" type="text" [(ngModel)]="tournamentName"/>
    <label igxLabel for="tournamentName"><b>Tournament name</b></label>
  </igx-input-group>
  <igx-input-group  class="w33">
    <input igxInput name="tournamentDirector" type="text" [(ngModel)]="tournamentDirector"/>
    <label igxLabel for="tournamentDirector"><b>Tournament director</b></label>
  </igx-input-group>
  <igx-input-group  class="w33">
    <input igxInput name="email" type="text" [(ngModel)]="email"/>
    <label igxLabel for="email"><b>email</b></label>
  </igx-input-group>
</span>

<span class="spacedContainer">
  <igx-input-group  class="w33">
    <input igxInput name="tournamentYear" type="number" [(ngModel)]="tournamentYear"/>
    <label igxLabel for="tournamentYear"><b>Tournament year</b></label>
  </igx-input-group>
  <span  class="w33">

  </span>
  <igx-input-group  class="w33">
    <input igxInput name="backupEmail" type="text" [(ngModel)]="backupEmail"/>
    <label igxLabel for="backupEmail"><b>backup email</b></label>
  </igx-input-group>
</span>


<div class="spacedContainer">
<app-radio-editor class="w33"
                  [radioList]="radioList"
                  (updateRadio)="updateRadio.emit($event)">
</app-radio-editor>
<app-check-box-editor  class="w33"
                       [checkBoxList]="checkBoxList"
                       (updateCheckBox)="updateCheckBox.emit($event)">
</app-check-box-editor>
<app-drop-down-editor  class="w33"
                       [dropDownList]="dropDownList"
                       (updateDropDown)="updateDropDown.emit($event)">
</app-drop-down-editor>
</div>

<span class="spacedContainer">
  <button class="niceButton boldText" (click)="downloadEntryFormFiles()">
    Download entry form files
  </button>
</span>
