.spaced-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
}

.left-align-container {
  display: inline-block;
  text-align: left;
  width: 100%;
}

.center-align-container {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.right-align-container {
  display: inline-block;
  text-align: right;
  width: 100%;
}

.bk-fields {
  position: relative;
  top: 10pt;
  align-self: center;
  background-color: #ffd391;
  width: 42em;
}

input.in-control {
  height: 1.5em; width: 9em;
  margin-top:0.0em;
  padding: 0;
  font-weight: bold;
}

.tf_larger {
  font-size: larger;
}
