/*  CSS style sheet for entryform.html                                                  G Kaniuk        12/03/2017  */

/* -------------------------------------------------------------------------------- ALL */
body    { padding: 1.0em; font-size: 10pt;  }
input
{
  border: 0.1em solid grey; border-radius: 0.2em;
  padding: 0.2em 0.2em 0.2em 0.4em;
  background-color:ivory;
}

form.frm-entry { width: 40em; }

fieldset
{
  padding: 0.9em;

  border: 1px solid black;
  border-radius: 4px;
  background-color: #ffd391;
}
/* 32em;  width: 15em; */

div.dv-fields
{
  padding: 0.3em 0.3em 0.5em 1.0em;
  display: block; float: left;
  width: 40.0em;
  background-color: #ffd391;
}
/* background-color: #ffd391; */

.icon-help { padding-left: 0.5em; padding-top: 0.0em; margin-top: 0.0em;  height:20px; width:20px; }
.icon-i
{
  font-weight: bold;  font-style: italic;  font-size: larger;
  font-family: "Tex Gyre Bonum", Helvetica, serif
}

div.dv-tooltip {
  position: absolute; top:43em; left:29em;

  min-width: 13em; max-width: 20em; min-height: 7em;

  visibility: visible;

  padding:0.5em; border-radius: 5px;

  font-size: smaller;

  background-color: #ffe2aa;
}

.n-player { font: 100% sans-serif; font-weight: bold;  color: black; }

.tf_larger { font-size: larger; }
.bk-input  { background-color:ivory; }
.bk-fields { background-color: #ffd391; }
.bk-error  { background-color: orangered; }


.in-full  { width: 37.3em; }
.in-short { width:  5.0em; }
.in-cname { width: 10.5em; }
.in-selcy { width: 12.0em;  }

.sp-left { display: inline-block; float: left; }
.sp-right { display: inline-block; float: right; }

span.sp-shim
{
  display: inline-block; float: left;
  height: 0.1em; width:100%;
}
.vs-del { margin-top: 0.05em; }
.vs-mic { margin-top: 0.1em; }
.vs-tin { margin-top: 0.2em; }
.vs-min { margin-top: 0.3em; }
.vs-med { margin-top: 0.4em; }
.vs-max { margin-top: 0.5em; }
.vs-sec { margin-top: 0.5em; }
.vs-big { margin-top: 0.7em; }
.vs-lrg { margin-top: 1.0em; }
.vs-dbl { margin-top: 2.0em; }

span.sp-hspace
{
  display: inline-block; float: left;
  height: 0.1em;
}

/* ------------------------------------------------------------ PLAYER DETAILS FIELDS */
span.sp-land
{
  display: inline-block; float: right;
  margin-top: 0.0em; margin-right: 4.4em;
}

span.sp-club
{
  display: inline-block; float: right;
  margin-top: 0.0em; margin-right: 6.2em;
}

span.sp-rate
{
  display: inline-block; float: right;
  margin-top: 0.0em; margin-right: 0;
}

span.sp-strength
{
  display: inline-block; float: right;
  margin-top: 0.0em; margin-right: 7.4em;
}

input.in-strength { width: 10.5em;}

span.sp-tgrade { display: inline-block; float: left; width: 6.75em; height:0.1em; }


/* ------------------------------------------------------------ EGD SEARCH FIELDS */
span.sp-initls
{
  display: inline-block; float: left;
  margin-top: 1.2em; margin-left: 4.0em;
}

span.sp-pin
{
  display: inline-block; float: right;
  margin-top: 0.0em; margin-right: 5.4em;
}

span.sp-pcount
{
  display: inline-block; float: right;
  margin-top: 2.5em; margin-right: 0.5em;
}

span.sp-nplayer
{
  display: inline-block; float: right;
  margin-top: 2.5em; margin-right: 0;
  font-weight: bold;
}

input.in_egdpin { width:7em; }


div.dv-gfsearch                                                                                                 /* Given-Family */
{
  margin-top:0.5em; display:inline; float:left;
}

input.cl_gsearch                                                                                                /* Given name */
{
  margin-top:0.5em; width:4em;
}

input.cl_fsearch                                                                                                /* Family name */
{
  margin-top:0.5em; margin-left:0.4em; width:4em;
}

div.dv-initials                                                                                                 /* Text placement */
{
  margin-top: 1.0em;      display:inline; float:left;
}

span.sp-initials { margin-left: 2.4em; }


select.cl_playerlist
{
  margin-bottom:0.5em;   width: 100%;
}

/* -------------------------------------------------------------- EGD SEARCH HELP */
div.dv-helpbtn
{
  display: block; float: right;
  margin-top: 0.0em;
}

/* ----------------------------------------------------------------------- SUBMIT */
div.dv-submit
{
  display: block; float: right;
  padding: 0.3em 0.3em 0.3em 0.3em;
  width: 8.0em;
}

input.in-email{ margin-top:0.4em;  width: 16em; }
span.sp-emailchk
{
  margin-top:-1em;  margin-bottom:-1em;
  margin-left: 0; margin-right:0;
  background-color: green;
}

.dv-emailchk
{
  width: 8.2em; height: 1.5em;
  margin-top:0.7em;  margin-bottom:0;
  margin-left:0; margin-right: -0.2em;
  display: inline-block; float: right;
}
textarea.in-pnote
{
  margin-top:0.7em; margin-bottom:0.0em;
  padding-left: 0.5em;
  width: 100%;
  resize: none;
}

input.in-control
{
  height: 1.5em; width: 9em;
  margin-top:0.0em;
  padding: 0;
  font-weight: bold;
}

/* END */
/* ---------------------------------------------------------------------------- */


/*  CSS style sheet for entryform.html                                                  G Kaniuk        12/03/2017  */
/*                                                                                                                                                                              */
/*  REFERENCE murtaugh <https://github.com/murtaugh>/*HTML5-Reset                                               */

/* BASIC ELEMENTS */
html, body, div,  fieldset, form, label, legend,
span, pre, mark,
table, caption, tbody, tfoot, thead, tr, th, td,
dl, dt, dd, ol, ul, li,
img, kbd, small,  sub, sup, b,strong, i, em
{
  margin: 0;
  padding: 0;
  border: 0;
  /*font-size: 10pt;*/
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

/* BOX SIZING http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

/* SCROLLBAR force a vertical scrollbar to prevent a jumpy page */
html { overflow-y: scroll;}

/* LINKS */
a
{
  margin: 0; padding: 0; font-size: 100%; vertical-align: baseline;
  background: transparent; text-decoration: none;
}

/* INPUT */
input, select { vertical-align: middle; }

pre {
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom;}
.ie7 input[type="checkbox"] {vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea { font: 99% sans-serif; }

/* BEHAVIOUR */
button, input, select, textarea { margin: 0; }  /* Webkit browsers add a 2px margin  outside form elements */
button, input[type=button] {width: auto; overflow: visible;} /* make buttons play nice in IE */

/* END */
/* ---------------------------------------------------------------------------- */
