<span class="sp-shim vs-max"></span>
<select name="EXT-D-TRAVEL"
        matTooltip="{{tooltip}}"
        matTooltipShowDelay="1000"
        matTooltipPositionAtOrigin="true"
        [value]="options[chosen]">
  <option *ngFor="let option of options; let i = index" value="{{option.toLowerCase()}}">{{option}}</option>
</select>
&nbsp;&nbsp;{{name}}
<img class="icon-help" src="assets/question_mark.png" alt="info"
     matTooltip="{{title}}"
     matTooltipShowDelay="1000"
     matTooltipPositionAtOrigin="true"
     (click)="showInfo.emit(title)">
