.editor-container {
  position: absolute; top:10pt; left:450pt;
  padding-top: 0;
  padding-bottom: 0;
  flex-direction: column;
}

div.dv-tooltip-new {
  width: 400pt; min-height: 115pt;
  visibility: visible;
  padding:0.5em; border-radius: 5px;
  font-size: x-large;
  background-color: #ffe2aa;
}

@media (max-width: 870pt) {
  .editor-container {
    position: inherit;
    margin-top: 10pt;
    margin-bottom: 10pt;
  }
  div.dv-tooltip-new {
    width: 420pt;
  }
}
