/*.spacedContainer {*/
/*  display: flex;*/
/*  position: relative;*/
/*  justify-content: space-around;*/
/*  width: 100%;*/
/*}*/

.main-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
}

.editor {
  position: absolute;
  left: 850pt;
  top: 0pt;
}
