<div class="main-container">
  <app-entry-form [egd_search_block]="egd_search_block"
                  [custom_block]="custom_block"
                  [player_email_block]="player_email_block"
                  [edit_mode]="edit_mode"
                  (on_cell_select)="processOnCellSelect($event)">
  </app-entry-form>
  <app-editor class="editor"
              [custom_block]="custom_block"
              [selected_cell]="selected_cell"
              [edit_mode]="edit_mode">
  </app-editor>
</div>
