<!--<div class="main-container">-->
<div>
  <app-entry-form [egd_search_block]="egd_search_block"
                  [custom_block]="custom_block"
                  [player_email_block]="player_email_block"
                  [edit_mode]="edit_mode"
                  (on_cell_select)="processOnCellSelect($event)">
  </app-entry-form>
  <div class="separation-bar"></div>
  <app-editor class="editor"
              [custom_block]="custom_block"
              [tour_config]="tour_config"
              [selected_cell]="selected_cell"
              [edit_mode]="edit_mode"
              (edit_mode_change)="updateEditMode($event)"
              (custom_block_change)="updateCustomBlock($event)"
              (tour_config_change)="updateTourConfig($event)"
              (finish)="downloadDocuments()">
  </app-editor>
</div>
