<fieldset class="bk-fields">
  <table [style.width]="table.width">
    <tr *ngFor="let row of table.rows; index as i">
      <td *ngFor="let cell of row.cells; index as j"
          [ngStyle]="cell.getStyle(edit_mode)"
          [colSpan]="cell.getColspan()"
          (click)="processCellSelection(i, j, cell)">
        <app-cell [cell]="cell"
                  [edit_mode]="edit_mode"
                  (on_cell_describe)="processDescriptionChange(cell)">
        </app-cell>
      </td>
    </tr>
  </table>
</fieldset>
