<app-empty-cell *ngIf="isEmptyCell()"
                [empty_cell]="getEmptyCell()">
</app-empty-cell>
<app-one-line-cell *ngIf="isOneLineCell()"
                   [one_line_cell]="getOneLineCell()"
                   [edit_mode]="edit_mode"
                   (on_cell_describe)="processDescriptionChange()">
</app-one-line-cell>
<app-two-lines-cell *ngIf="isTwoLinesCell()"
                    [two_lines_cell]="getTwoLinesCell()"
                    [edit_mode]="edit_mode"
                    (on_cell_describe)="processDescriptionChange()">
</app-two-lines-cell>
<app-announcement-cell *ngIf="isAnnouncementCell()"
                       [announcement_cell]="getAnnouncementCell()"
                       [edit_mode]="edit_mode">
</app-announcement-cell>
